body {
  background-color: #fff;
  color: #757575;
}
ul {
  list-style: none;
}
.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-dark {
  color: black;
}

.logo-light {
  color: #ffffff;
}

/* Site nav */

.site-nav-list .link {
  color: #212121;
}
.site-nav-list .link:hover,
.site-nav-list .link:focus {
  color: #2196f3;
}
.site-nav-list .link.current {
  color: #2196f3;
}

/* Contacts list */

.contacts-list .link {
  color: #757575;
}
.contacts-list .link:hover,
.contacts-list .link:focus {
  color: #2196f3;
}

/* цвет основного текста #757575*/
/* вторичный цвет текста #212121 */
/* белый #ffffff */
/* акцент цвет #2196F3 */
/* вторичный цвет фона #2F303A  */
